@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Roboto", sans-serif;
}



* {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

/* ================================
   Hide scrollbar but allow scroll
================================ */

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Internet Explorer 10+ */
.hide-scrollbar {
  -ms-overflow-style: none;
}
