@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


/* Font */
* {
  font-family: "Roboto", sans-serif;
}

/* ✅ Disable text selection (no copy) */
* {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

/* Optional: Disable right-click (still no design changes) */
body {
  -webkit-touch-callout: none;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

